body{
  margin: 0px;
  overflow:hidden;
}

#overlays
{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #00000000;
    z-index: 2;
}

#menu
{
    width: 350px;
    background-color: #FFFFFF;
    margin: 100px auto;
    border-radius: 15px;
    padding: 5px 15px 5px 15px;
}

.btn-play
{
    width: 86%;
}
