body
{
    margin: 0px;
    overflow: hidden;
}

canvas
{
    background-color: #add8e6;
}

h3.private
{
    margin-top: 10px;
}

a:hover, a:focus
{
    text-decoration: none;
}

#overlays
{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

#menu, .menu-private
{
    width: 350px;
    background-color: #FFFFFF;
    margin: 100px auto;
    border-radius: 15px;
    padding: 5px 15px 5px 15px;
}

.btn-group.play
{
    width: 86%;
}

.btn-play
{
    width: 90%;
}

.dropdown-menu
{
    left: auto;
    right: 0;
    text-align: right;
}

.settings
{
    display: none;
    margin: 6px;
}

.menu-private
{
    display: none;
}

.btn-private
{
    margin-bottom: 15px;
}
